body {
	margin: 0;
	padding: 0;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 16px;
    line-height: 24px;
	font-weight: 400;
	color: #484848;
	background:#f2f2f2;
	overflow-x:hidden;
 }

img {
	max-width: 100%;
	height: auto;
}

h1,h2,h3,h4,h5,h6, p, div {
	margin: 0;
    padding: 0;
    box-sizing: border-box;		   
}	

a {
	text-decoration: none;
}

ul {
	margin:0;
	padding:0;
	list-style: none;
}

button {
	padding: 0;
	box-sizing: border-box;
	border: none;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	text-decoration: none;
	background-color: transparent;
	outline: none;
	cursor: pointer;
}

.visuallyHidden {
	position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.mainWrapper {
    max-width: 1200px;
    margin: 0 auto;
	background-color: #fcfcee;
	height: 100vh;
}

.mainBox {
	margin: 0 47px;
}

.headingMain {
	margin-bottom: 22px;
	padding-top: 27px;
	font-size: 27px;
}